.body {
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.app-title {
  color: #d63f29;
  font: bold 18px arial;
  margin: auto 0;
}

a,
a:visited {
  color: #d63f29 !important;
  text-decoration: none !important;
}

.menu-icon,
.menu-profile {
  margin: auto 0;
}

.login-form,
.register-form {
  max-width: 300px;
  margin: 0 auto;
  background-color: #DCDCDC;
  display: none;
  flex-direction: column;
}

.register-form {
  display: none;
}

.login-form-username,
.login-form-password,
.register-form-username,
.register-form-password {
  max-width: 240px;
  margin: 18px auto 0px auto;
}

.login-btn-container,
.register-btn-container {
  display: flex;
  justify-content: space-between;
}

.login-form-submit,
.register-form-submit {
  width: 85px;
  text-align: center;
  margin: 12px auto 12px auto;
  z-index: 1;
}

.login-not-registered {
  margin: 0 9px 3px 9px;
  font-size: 12px;
  display: block;
  text-align: right;
  color: #6c757d;
  align-self: flex-end;
}

.login-forgot-password {
  margin: 0 9px 3px 9px;
  font-size: 12px;
  display: block;
  text-align: left;
  color: #6c757d;
  align-self: flex-end;
}

.register-password-desc {
  max-width: 240px;
  font-size: 12px;
  display: block;
  margin: 9px auto -9px auto;
  text-align: center;
}

.hidden-span {
  visibility: hidden;
}

.login-not-registered:hover,
.login-forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

.side-menu {
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  background-color: #DCDCDC;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.side-menu span {
  text-align: center;
  white-space: pre;
  margin: 6px 0;
}

.side-menu span:first-child {
  margin-top: 12px;
}

.side-menu span:last-child {
  margin-bottom: 12px;
}